<div class="resume">
  <div class="resume_left">
    <div class="resume_profile">
      <img src="" alt="profile_pic">
    </div>
    <div class="resume_content">
      <div class="resume_item resume_info">
        <div class="title">
          <p class="bold">Liver Nissan</p>
          <p class="regular">Frontend Student</p>
        </div>
        <ul>
          <li>
            <div class="icon">
              <i class="fas fa-map-signs"></i>
            </div>
            <div class="data">
              Sverige
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fas fa-mobile-alt"></i>
            </div>
            <div class="data">
              070-xxx xx xx
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fas fa-envelope"></i>
            </div>
            <div class="data">
              livarnissa94@gmail.com
            </div>
          </li>

        </ul>
      </div>
  
    </div>
 </div>
 <div class="resume_right">
   <div class="resume_item resume_about">
       <div class="title">
          <p class="bold">Om mig</p>
        </div>
       <p>Mitt namn är Liver Nissan och jag är 26 år gammal. Jag är förlovad. Jag har alltid varit intresserad av programmering och därför vlade jag att läsa till Frontend utvecklare. Mitt mål är att bli Fullstack.</p>
   </div>
   <div class="resume_item resume_work">
       <div class="title">
          <p class="bold">Tidigare Jobb</p>
        </div>
       <ul>
           <li>
               <div class="date">2012</div>
               <div class="info">
                    <p class="semi-bold">Praktik på RB-Bygg</p>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
               </div>
           </li>

           <li>
             <div class="date">2013</div>
             <div class="info">
                    <p class="semi-bold">En månads praktik i Frankrike, inom Bygg-Programm </p>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
               </div>
           </li>
           <li>
            <div class="date">2014</div>
            <div class="info">
                   <p class="semi-bold">En månads praktik på NCC och en månad på PEAB Bygg-företag</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
              </div>
          </li>
          <li>
            <div class="date">2015</div>
            <div class="info">
                   <p class="semi-bold">Väktare på securitas, Lager arbetare på HFG Hilton</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
              </div>
          </li>
          <li>
            <div class="date">2016 sommar</div>
            <div class="info">
                   <p class="semi-bold">Cost köket, Västerås-sjukhus</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
              </div>
          </li>
          <li>
            <div class="date">2017 juli - 2019 december</div>
            <div class="info">
                   <p class="semi-bold">Ålderdomshem Arbetade endast natt och var vikarie, LLS med barn och ungdommar i 3 månader</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
              </div>
          </li>
          <li>
            <div class="date">6 månader </div>
            <div class="info">
                   <p class="semi-bold">LIDL</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
              </div>
          </li>
          <li>
            <div class="date">Nuvarande Jobb</div>
            <div class="info">
                   <p class="semi-bold">Buss Förare på Svealandstrafiken fast anstäld tillsvidare.  </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
              </div>
          </li>
          
       </ul>
   </div>
   <div class="resume_item resume_education">
     <div class="title">
          <p class="bold">Utbildningar</p>
        </div>
     <ul>
           <li>
               <div class="date">2011-2014</div>
               <div class="info">
                    <p class="semi-bold">Bygg-Programm på hahrska gymnasiet</p>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
               </div>
           </li>
           <li>
             <div class="date">2015</div>
             <div class="info">
                    <p class="semi-bold">Väktare-Utbildning</p>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
               </div>
           </li>
           <li>
            <div class="date">2016-2017</div>
            <div class="info">
                   <p class="semi-bold">Tekniskt Basår på Blekinge Tekniska Högskola i Karlskrona.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
              </div>
          </li>
          <li>
            <div class="date">2018-2019</div>
            <div class="info">
                   <p class="semi-bold">DatorNätverk Och Datakommunikation på MDH i Västerås</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
              </div>
          </li>
          <li>
            <div class="date">2020</div>
            <div class="info">
                   <p class="semi-bold">Buss Förare Utbildning på Svealandstrafiken</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
              </div>
          </li>
          <li>
            <div class="date">2020-2022</div>
            <div class="info">
                   <p class="semi-bold">Frontend Utvecklare Utbildning på YH-Västerås</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
              </div>
          </li>
       </ul>
   </div>
   <div class="resume_item resume_hobby">
     <div class="title">
          <p class="bold">Fritid</p>
        </div>
      <ul>
        <li><i class="fas fa-book"></i></li>
        <li><i class="fas fa-gamepad"></i></li>
        <li><i class="fas fa-music"></i></li>
        <li><i class="fab fa-pagelines"></i></li>
     </ul>
   </div>
 </div>
</div>